.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.card:hover{
    top: -3px;
}

p {
    position: absolute;
    margin: 5px;
    padding: 5px;
    left: 1px;
    top: 1px;
    background-color: #242424;
    border-radius: 10px;
}

img {
    max-width: 100%;
}